.group:before,
.group:after {
 content: "";
 display: table;
}
.group:after {
 clear: both;
}

body{
    background-color: black;
}

header {
    background-color: white;
    width: 100%;
    height: auto;
    /* position: fixed; */
}

.header-container {
    /* margin: 0 150px; */
}

#headerName{
    /* display: inline-block; */
    background-color: teal;
    color: white;
    width: auto;
    position: relative;
    margin-left: 150px;
    float: left;
    padding: 40px 20px;
}

#navBar{
    background-color: black;
    margin-right: 215px;
    margin-top: 50px;

}

h1{
    display: inline;
}

li {
    float: right;
    display: inline-block;
    margin: 0 10px;
  }

textarea {
    width: 95%;
  }

input{
    width: 95%;
  }
  
.group {
 clear: both;
 *zoom: 1;
}

.footer {
    text-align: center;
    background: darkgray;
    padding: 20px 0 0 0;
    border-top: 5px solid teal;
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
}


.main{
    color: teal;

}

.wrapper{
    background-color: beige;
    width: 960px;
    margin: 20px 150px;
    height: 500px;
    border-width: 5px;
    
}



#bioPic {
    float: left;
    margin: 10px;
}